@use "./colors" as *;
@use "./mixinis" as *;
@use "./variables" as *;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $charcoal-grey;
  color: $dark-slate-grey;
  min-height: min-content;

  @include font-mobile("body", $font-w-400);
  h1 {
    @include font-mobile("heading", $font-w-700);
  }

  figure {
    overflow: hidden;
  }

  .success-img {
    height: 4rem;
    align-self: flex-start;
  }

  label,
  button {
    font-weight: $font-w-700;
  }
  label {
    font-size: $font-body-small;
    padding-bottom: $margin-8;
    display: block;
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: $gap-10;
  }
  ul li {
    position: relative;
    padding-left: $margin-38;
  }
  ul li::before {
    content: "";
    display: inline-block;
    width: 1.3125rem;
    height: 1.3125rem;
    background-image: url("../assets/images/icon-list.svg");
    background-size: cover;
    position: absolute;
    left: 0;
    vertical-align: middle;
  }
  input {
    padding: $margin-15 1rem;
    border: 1px solid $grey-light;
    color: $grey;
    border-radius: 0.5rem;
    width: $max;
  }

  .fail {
    color: $tomato;
  }

  input.fail {
    background-color: $tomato-lighten;
    border: 1px solid $tomato;
    &:focus {
      border-color: $tomato;
    }
  }

  button {
    color: $white;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    width: $max;
    text-align: center;
    background-color: $dark-slate-grey;

    &:hover {
      background-color: $tomato;
      cursor: pointer;
    }
  }
}

main {
  display: flex;
  background-color: $white;
  width: $max;
  flex-direction: column;
  border-radius: 0;

  figure {
    flex: 50;
    img:first-child {
      display: none;
    }
    img:last-child {
      display: block;
    }
  }

  figure img {
    object-fit: cover;
    object-position: center;
    height: $max;
    width: $max;
  }

  .text-container {
    margin: $margin-40 $margin-24;
    display: flex;
    flex-direction: column;
    gap: $gap-40;
    flex: 47;

    section {
      display: flex;
      flex-direction: column;
      gap: $gap-24;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: $gap-24;
    }
  }
}

.success-main-container {
  padding-top: 8.5rem;
  p {
    padding-bottom: 16.4375rem;
  }
}

@media (min-width: $desktop-min-width) {
  body {
    min-height: $min-height-desktop;

    h1 {
      @include font-desktop("heading", $font-w-700);
    }
  }
  main {
    max-width: $max-width-desktop;
    flex-direction: row;
    padding: $margin-24;
    border-radius: $border-r-36;

    figure {
      min-height: $min-height-figure;
      img:last-child {
        display: none;
      }
      img:first-child {
        display: block;
      }
    }

    .text-container {
      margin: auto $margin-62 auto $margin-42;
      order: -1;
    }
  }
  .success-main-container {
    max-width: 31.5rem;
    padding: 3rem 0.75rem 4rem;

    p {
      padding-bottom: 0;
    }
  }
}
