$font-w-400: 400;
$font-w-700: 700;
$font-body: 1rem;
$font-body-small: 0.75rem;
$font-heading-mobile: 2.5rem;
$font-heading-desktop: 3.5rem;
$desktop-min-width: 56rem;

$max-width-desktop: 58rem;

$gap-40: 2.5rem;
$gap-24: 1.5rem;
$gap-10: 0.625rem;

$margin-64: 4rem;
$margin-40: 2.5rem;
$margin-24: 1.5rem;
$margin-10: 0.625rem;
$margin-8: 0.5rem;
