$font-w-400: 400;
$font-w-700: 700;
$font-body: 1rem;
$font-body-small: 0.75rem;
$font-heading-mobile: 2.5rem;
$font-heading-desktop: 3.5rem;
$desktop-min-width: 56rem;

$max-width-desktop: 58rem;
$min-height-desktop: 67.5rem;
$min-height-figure: 37.0625rem;

$gap-40: 2.5rem;
$gap-24: 1.5rem;
$gap-10: 0.625rem;

$margin-62: 3.875rem;
$margin-52: 3.25rem;
$margin-42: 2.625rem;
$margin-40: 2.5rem;
$margin-38: 2.375rem;
$margin-24: 1.5rem;
$margin-15: 0.9375rem;
$margin-10: 0.625rem;
$margin-8: 0.5rem;

$border-r-36: 2.25rem;

$max: 100%;
